@(artistForm: Form[Artist])
    @import helper._
    @layout("Edit Artist"){
        <h1>Edit Artist</h1>
        @helper.form(action = routes.ArtistController.update()){
            <div class="col-md-4">
                @helper.inputText(artistForm("id"),'class -> "form-control",'_label ->"",'placeholder->"id",'readonly->"readonly")
                @helper.inputText(artistForm("email"),'class -> "form-control")
                @helper.inputText(artistForm("username"),'class -> "form-control")
                @helper.inputText(artistForm("first_name"),'class -> "form-control")
                @helper.inputText(artistForm("last_name"),'class -> "form-control")
                @helper.inputText(artistForm("password"),'class -> "form-control")
                @helper.inputText(artistForm("age"),'class -> "form-control")
                @helper.inputText(artistForm("music"),'class -> "form-control")
            </div>

            <div class="col-6">
                <button class="btn btn-success col-3 mr-left" type="submit" value="Edit artist">Save</button>
                <a class="btn btn-dark col-3 mr-right" href="@routes.ArtistController.index()" value="Back">Back </a>
            </div>
        }

    }
