@(songForm: Form[Song], artists: List[Artist])
@import helper._
@layout("Upload Song"){
    <h1>upload song</h1>
    @helper.form(action= routes.SongController.save(), 'enctype -> "multipart/form-data"){
        <div class="form-row">
            <div class="form-group col-md-6">
            @helper.inputText(songForm("title"),'class -> "form-control",'placeholder->"tilte song",'_label ->"Title Song",'type->"text")
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="col-sm-3 form-control-label font-weight-bold text">Select artist</label>
            <select name="artist" class="form-control col-6" placeholder="Select artist" id="sa">
            @for(artist <- artists){

                <option value="@artist.id" > @artist.first_name - @artist.last_name </option>
            }
            </select>
        </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
            @helper.inputText(songForm("url"),'class -> "form-control",'placeholder->"@ejemplo: https://www.youtube.com/embed/AOeY-nDp7hI",'_label ->"Youtoube URL Embed Code",'type->"text")
            </div>
        </div>
        <button class="btn btn-success col-6" type="submit"  > Save</button>

    }
}