
@layout("NCSongs") {
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Welcome To NCSongs!</h1>
        <p>NCSongs is a Colombian firm and organization with the purpose of discovering talent and musical styles
            that were useful for the development of video games and all kinds of digital content, in addition to
            make artists visible internationally</p>
        <p class="lead">This App is built using Play Framework 2.6</p>
        <hr class="my-4">
        <p>Upload your song right now and Join us! </p>
        <p class="lead">
            <a class="btn badge-success col-lg-4 " href="@routes.SongController.create()" class="card-link">Upload Song!</a>
            <a class="btn badge-primary col-lg-4 " href="@routes.ArtistController.create()" class="card-link">Join Us!</a>
        </p>
    </div>


}
